body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", "Calibri", "sans"
}

#container {
    height: auto;
    min-height: 80%;
    position: absolute;
    padding-left: 30px;
    width: 400px;
}

#title {
    width: 100%;
    height: 80px;
    font-size: 30px;
    text-align: center;
}

#container h2 {
    background: #292929;
    color: white;
    font-weight: normal;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.chart {
    margin-left: 500px;
    padding: 0.1em 2%;
    position: relative;
}

#charted {
    padding-left: 150px;
    padding-top: 50px;
    position: absolute;
    font-size: 20px;
}

#arrowed {
    padding-top: 216px;
    position: absolute;
    z-index: 10;
}

#footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}