body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", "Calibri", "sans"
}

#page {
  width: 100%;
  margin: 30px;
}

#title {
    height: 70px;
    font-size: 30px;
    text-align: center;
}

#question-container {
    width: 40%;
    padding-right: 5%;
    font-size: 18px;
    float: left;
}

#question-container h2 {
    background: #292929;
    color: white;
    font-weight: normal;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#chart-container {
    width: 55%;
    float: right;
}

#chart-padding {
    padding-left: 150px;
    padding-top: 50px;
    position: absolute;
    font-size: 20px;
}

#charted {
    width: 400px;
    height: 400px;
}

#arrowed {
    padding-top: 216px;
    position: absolute;
    z-index: 10;
}

#footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.anger {
    background-image: url('../images/grumpy-cat.jpg');
    background-position-y: 51%;
    background-repeat: no-repeat;
    background-position-x: 53%;
    background-size: 273px;
}

.elation {
    background-image: url('http://image.blingee.com/images17/content/output/000/000/000/5e5/514570461_1949030.gif?4');
    background-position-y: 51%;
    background-repeat: no-repeat;
    background-position-x: 49%;
    background-size: 220px;
}

input {
    margin-right: 10px;
}
